.buttoncss1{
    width: 100%;
    border-radius: 10px;
    //background: #0D6CBD;
    color:rgb(255, 255, 255)
}

.buttoncss2{
    width: 100%;
    border-radius: 10px;
    background: #53A0FF;
}

.mat-elevation-z5
{
    background-color: rgb(255, 255, 255);
    box-shadow: 4 4px 4px -2px rgba(2, 17, 37, 0.15);
    margin-top: 8%;
}
