<div class="form-container mat-elevation-z5">
    <form [formGroup]="resetForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput placeholder="Введите почту" formControlName="email">
            <mat-error *ngIf="this.resetForm.get('email')?.errors?.['required'] && this.resetForm.get('email')?.touched">
                Поле обязательно для заполнения
            </mat-error>
            <mat-error *ngIf="this.resetForm.get('email')?.errors?.['email'] && this.resetForm.get('email')?.touched">
                Неправильный формат почты
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Введите новый пароль" formControlName="password" type="password" />
            <mat-error *ngIf="this.resetForm.get('password')?.errors?.['required'] && this.resetForm.get('password')?.touched">
                Поле обязательно для заполнения
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Подтвердите новый пароль" formControlName="repPassword" type="password" />
            <mat-error *ngIf="this.resetForm.get('repPassword')?.errors?.['required'] && this.resetForm.get('repPassword')?.touched">
                Поле обязательно для заполнения
            </mat-error>
            <mat-error *ngIf="this.resetForm.get('repPassword')?.errors?.['noCorrectPassword'] && this.resetForm.get('repPassword')?.touched">
                Пароли должны совпадать
            </mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button class="buttoncss1" type="submit"
            [style.background]="this.resetForm.valid ? '#0D6CBD' : '#9E9E9E'">
                Восстановить пароль
            </button>
        </div>
    </form>
</div>